.experienceContainer {
    display: flex;
    position: relative;
    justify-content: left;
    margin: 0 5%;
}

.experienceLeftContainer {
    width: 30%;
    margin: 5% 0 5% 5%;
    border-right: 2px solid orange;
}

.experienceImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experienceImage img{
    width: 80%;
}

.experienceRightContainer {
    margin: 5% 5% 5% 5%;
}

.experienceJobtitle {
    display: flex;
    justify-content: space-between;
}

.experienceJobtitle h2{
    font: 100;
}

.experienceJobtitle h5{
    font: 100;
}

.experienceJobDescription h4{
    font: 100;

}

.experienceJobtitle p{
    font-size: x-large;

}

.experienceTitle {
    font-size: xx-large;
}