/* ===========================
   Block: skills
=========================== */
.skills {
  width: 100%;
}

.skills__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* padding: 10% 2%; */
}

/* ===========================
   Element: skills__left
=========================== */
.skills__left {
  width: 65%;
  padding: 10% 2%;
}

.skills__title h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

.skills__description {
  border-right: 2px solid orange;
}
.skills__description p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* ===========================
   Element: skills__progress
=========================== */
.skills__progress {
  display: flex;
  margin-bottom: 2%;
  justify-content: space-evenly;
}

.skills__progress-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skills__progress-item img {
  width: 75px;
}

.skills__progress-item progress {
  height: 15px;
  appearance: none;
}

/* Webkit progress bar */
.skills__progress-item progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.skills__progress-item progress::-webkit-progress-value {
  background-color: #59f52d;
  border-radius: 10px;
}

/* Firefox progress bar */
.skills__progress-item progress::-moz-progress-bar {
  background-color: #59f52d;
  border-radius: 10px;
}

/* ===========================
   Element: skills__right
=========================== */
.skills__right {
  width: 35%;
  align-content: center;
  padding: 10% 2%;
}

.skills__logos-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15%;
}

.skills__logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills__logo-item img {
  width: 90px;
  margin-bottom: 10px;
}

/* ===========================
   Responsive Design
=========================== */
@media (max-width: 1024px) {
  .skills__title h2 {
    font-size: 2rem;
  }

  .skills__progress-item img {
    width: 60px;
  }

  .skills__logos-list {
    gap: 15%;
  }
}

@media (max-width: 768px) {
  .skills__left {
    /* width: 65%; */
    
  }
  .skills__container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .skills__left{
    width: 100%;
    border-bottom: 2px solid orange;  
    padding: 10% 0; 

  }

  .skills__description {
    border-right: none;

  }
  .skills__progress{
    gap: 20%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }

  .skills__progress-item {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  .skills__progress-item img {
    width: 50px;
  }

  .skills__progress-item progress {
    width: 75%;
    height: 12px;
    appearance: none;
  }

  .skills__right{
    width: 100%;
    padding: 10% 0;
    
  }

  .skills__logos-list {
    gap: 15%;
  }

  .skills__logo-item img {
    width: 70px;
  }
}
